@import'../styles/commons.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;1,300&display=swap');

.SideBarMenuCardView {
    background-color: #3d3c3b;
    text-align: center;
    

    .profile {
        border-radius: 50%;

        padding: 5px;
        box-sizing: border-box;
        max-width: 128px;
    }

    .profileInfo {
        overflow: hidden;
        height: 80px;
        @include transition(height);

        .name {
            font-size: 20px;
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
        }

        .url {
            a {
                color: #79a8ff;
                font-family: 'Raleway', sans-serif;
                font-weight: 300;

                &:hover {
                    color: white;
                }
            }
        }


    }

    .profileInfocollapsed {
        @include transition(height);

        display: none;
    }
}